%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{} HumanComp
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li.active
          %a{:href => "/about"} Home
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Closest Pair
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => "/closest_pair_trials/new"} Contribute
            %li
              %a{:href => "/closest_pair_results"} View Results
      %ul.nav.navbar-nav.navbar-right
        %li
        %li
        %li
    / /.nav-collapse
  / /.container-fluid
